<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/sign-up" method="POST">
        <label for="sign-up-full-name">Full Name:</label>
        <input id="sign-up-full-name" type="text" name="fullname" placeholder="full name">
        <label for="sign-up-username">Username:</label>
        <input id="sign-up-username" type="text" name="username" placeholder="username">
        <label for="sign-up-password">Password:</label>
        <input id="sign-up-password" type="text" name="password" placeholder="password">
        <label for="sign-up-cnfrm-password">Confirm password:</label>
        <input id="sign-up-cnfrm-password" type="text" name="cnfrm-password" placeholder="confirm password">
        <button type="submit">Sign Up</button>
    </form>
    <a href="/">Back</a>
</body>
</html>